{% extends 'base.html.twig' %}
{% block body %}
        <h1>Contact opnemen</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Verstuur" />
        {{ form_end(form) }}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="group">
            <div class="one_half first">
                <h2 class="heading btmspace-50">Maecenas libero nunc eu erat</h2>
                <figure id="featuredpost"><img src="images/demo/featured.png" alt="">
                    <figcaption>
                        <h2 class="heading">Urna sit amet pulvinar</h2>
                        <p class="shortintro">Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.&hellip;</p>
                        <p class="link"><a class="btn" href="#">Read More &raquo;</a></p>
                    </figcaption>
                </figure>
            </div>
            <div class="one_half">
                <h2 class="heading btmspace-50">Etiam eros nulla posuere</h2>
                <ul id="latestposts" class="nospace">
                    <li class="clear">
                        <figure class="one_quarter first"><img class="borderedbox inspace-5" src="images/demo/120x120.gif" alt=""></figure>
                        <article class="three_quarter">
                            <h2 class="heading">Phasellus massa felis in</h2>
                            <div class="meta">
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6 April 2045</time>
                            </div>
                            <p class="shortintro">Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.&hellip;</p>
                            <p class="link"><a class="btn" href="#">Read More &raquo;</a></p>
                        </article>
                    </li>
                    <li class="clear">
                        <figure class="one_quarter first"><img class="borderedbox inspace-5" src="images/demo/120x120.gif" alt=""></figure>
                        <article class="three_quarter">
                            <h2 class="heading">Morbi consectetur nisi</h2>
                            <div class="meta">
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6 April 2045</time>
                            </div>
                            <p class="shortintro">Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.&hellip;</p>
                            <p class="link"><a class="btn" href="#">Read More &raquo;</a></p>
                        </article>
                    </li>
                    <li class="clear">
                        <figure class="one_quarter first"><img class="borderedbox inspace-5" src="images/demo/120x120.gif" alt=""></figure>
                        <article class="three_quarter">
                            <h2 class="heading">Proin ultri feugiat vitae</h2>
                            <div class="meta">
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6 April 2045</time>
                            </div>
                            <p class="shortintro">Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.&hellip;</p>
                            <p class="link"><a class="btn" href="#">Read More &raquo;</a></p>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
{% endblock %}