{% extends 'base.html.twig' %}
{% block body %}



<div class="wrapper row3">
    <main class="container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="group">
            <div class="one_half first">

                <h1>About edit</h1>

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
                {{ form_end(edit_form) }}
                </figure>
            </div>


        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main></div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{#<div class="wrapper row2 bgded" style="background-image:url('images/demo/backgrounds/1.png');">#}
{#<div class="overlay">#}
{#<div id="intro" class="clear">#}
{#<article class="one_third first">#}
{#<h3 class="heading">Quisque vehicula urna amet</h3>#}
{#<ul class="nospace">#}
{#<li>ullamcorper mauris sit amet</li>#}
{#<li>sed eget ultricies sem</li>#}
{#<li>proin quis lacus egestas</li>#}
{#<li>adipis cing ornare</li>#}
{#<li>donec luctus convallis rhoncus</li>#}
{#</ul>#}
{#<p class="link"><a href="#">Read More &raquo;</a></p>#}
{#</article>#}
{#<article class="one_third">#}
{#<h3 class="heading">Aliquam purus urna porta faucibus</h3>#}
{#<ul class="nospace">#}
{#<li>ullamcorper mauris sit amet</li>#}
{#<li>sed eget ultricies sem</li>#}
{#<li>proin quis lacus egestas</li>#}
{#<li>adipis cing ornare</li>#}
{#<li>donec luctus convallis rhoncus</li>#}
{#</ul>#}
{#<p class="link"><a href="#">Read More &raquo;</a></p>#}
{#</article>#}
{#<article class="one_third">#}
{#<h3 class="heading">Proin ultricies dui leo egestas augue</h3>#}
{#<ul class="nospace">#}
{#<li>ullamcorper mauris sit amet</li>#}
{#<li>sed eget ultricies sem</li>#}
{#<li>proin quis lacus egestas</li>#}
{#<li>adipis cing ornare</li>#}
{#<li>donec luctus convallis rhoncus</li>#}
{#</ul>#}
{#<p class="link"><a href="#">Read More &raquo;</a></p>#}
{#</article>#}
{#<!-- ################################################################################################ -->#}
{#</div>#}
{#</div>#}
{#</div>#}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
{% endblock %}